{% if asyncapi.hasComponents() %}
    {% for schemaName, schema in asyncapi.components().schemas() %}
        {% if schema.type() === 'object' or schema.type() === 'array' %}
        <div class="card mb-4"  id="{{schemaName}}">
            <div class="card-header bg-info text-white">
                {% if schema.type() === 'array' %}
                    <span class="text-warning font-weight-bold mr-2">(Array)</span>
                {% endif %}

                {{schemaName}}

                {% if schema.allOf() %}
                    {% for p in schema.allOf() %}
                        <span class="text-warning font-weight-bold mr-1 ml-1">Is A</span>
                        <a class="text-white" href="#{{p.uid()}}">{{p.uid()}}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="card-body">
                {% set extensions = schema | nonParserExtensions %}

                {% if schema.description() !== undefined %}
                    <h5 class="card-subtitle mb-3">{{schema.description()}}</h5>
                {% endif %}
                <table class="table table-sm table-striped">
                
                    <tr class="d-flex">
                        <th class="col-4">Nome</th>
                        <th class="col-4">Tipo</th>
                        <th class="col-4">Descrição</th>
                    </tr>
                
                    {% for propName, prop in schema.properties() %}
                    <tr class="d-flex">
                        <td class="col-4">
                            {{propName}}
                            
                            {% if schema.required() | contains(propName) %}
                                <div class="text-danger text-xs"><small>required</small></div>
                            {% endif %}
                        </td>

                        <td class="col-4">
                            {% if prop.items() | isObject %}
                                {% if prop.type() === 'array' %}
                                    <span class="text-warning font-weight-bold mr-2">(Array)</span>
                                {% endif %}
                                <a href="#{{prop.items().uid() }}">{{prop.items().uid() }}</a>
                            {% elif prop | isExpandable %}
                                <a href="#{{prop.uid()}}">{{prop.uid()}}</a>
                            {% else %}
                                {{ prop.type() }}
                            {% endif %}
                        </td>
                        <td class="col-4">
                            {{ prop.description() }}
                            {% if extensions.size > 0 %}
                                {% for extensionName, extensionValue in extensions %}
                                    {% if( 'x-'+propName === extensionName) %}
                                        {{extensionValue}}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% if schema.examples() %}
                <form>
                    {% for example in schema.examples() %}
                    <h6 class="text-xs font-bold text-grey-darker">Example #{{loop.index}}</h6>
                    <xmp class="hljs mb-4 border border-grey-darkest rounded">
                        {{example}}
                    </xmp>
                    {% endfor %}
                </form>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

